@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'GothamPro';
    src: url("../../public/fonts/gothampro.ttf");
}

.four-line-dots {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}